//
//  AppCredentials.xcconfig
//  MarvelApp
//
//  Created by Alvaro Orti Moreno on 2/7/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PUBLIC_KEY = c9540302ac1498d6ccb272151949cb35
PRIVATE_KEY = 2b3401411812edd619bd0c1c75d11b4ea69412f5
